<ion-content>
<ion-card class="ion-margin">
  <ion-card-content>
    <div class="ion-text-center ion-margin-bottom">
      <div style="display: inline-block; background-color: #e0f2fe; border-radius: 50%; padding: 20px;">
        <svg style="width: 64px; height: 64px; color: #374151;" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="square" stroke-linejoin="round" stroke-width="2" d="M7 19H5a1 1 0 0 1-1-1v-1a3 3 0 0 1 3-3h1m4-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm7.441 1.559a1.907 1.907 0 0 1 0 2.698l-6.069 6.069L10 19l.674-3.372 6.07-6.07a1.907 1.907 0 0 1 2.697 0Z"/>
        </svg>
      </div>
    </div>

    <form [formGroup]="updateProjectForm" (ngSubmit)="editProject($event)">
      <ion-list lines="none" class="ion-margin-top">
        <ion-item [ngClass]="{'has-Error': updateProjectForm.get('name')?.invalid}">
          <ion-label position="stacked" class="ion-text-center">Nombre</ion-label>
          <ion-input
            required
            formControlName="name"
            type="text"
            placeholder="Nombre del proyecto..."
            class="ion-text-center"
            fill="outline"
          ></ion-input>
        </ion-item>

        <ion-item [ngClass]="{'has-Error': updateProjectForm.get('description')?.invalid}">
          <ion-label position="stacked" class="ion-text-center">Descripción</ion-label>
          <ion-input
            required
            formControlName="description"
            type="text"
            placeholder="Descripción..."
            class="ion-text-center"
            fill="outline"
          ></ion-input>
        </ion-item>

        <ion-item [ngClass]="{'has-Error': updateProjectForm.get('customer_id')?.invalid}">
          <ion-label position="stacked" class="ion-text-center">Cliente</ion-label>
          <ion-select
            required
            formControlName="customer_id"
            placeholder="Seleccione cliente"
            interface="popover"
            class="ion-text-center full-width-select"
            fill="outline"
          >
            <!-- Angular @for loop -->
            @for (customer of customers; track customer.id) {
              <ion-select-option [value]="customer.id">
                {{ customer.name }}
              </ion-select-option>
            }
          </ion-select>
        </ion-item>

        <ion-item [ngClass]="{'has-Error': updateProjectForm.get('status')?.invalid}">
          <ion-label position="stacked" class="ion-text-center">Estado</ion-label>
          <ion-select
            required
            formControlName="status"
            placeholder="Seleccione estado"
            interface="popover"
            class="ion-text-center full-width-select"
            fill="outline"
          >
            <ion-select-option value="pendiente">pendiente</ion-select-option>
            <ion-select-option value="en progreso">en progreso</ion-select-option>
            <ion-select-option value="completado">completado</ion-select-option>
            <ion-select-option value="cancelado">cancelado</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item [ngClass]="{'has-Error': updateProjectForm.get('started_at')?.invalid}">
          <ion-label position="stacked" class="ion-text-center">Fecha de inicio</ion-label>
          <ion-input
            required
            formControlName="started_at"
            type="date"
            class="ion-text-center"
            fill="outline"
          ></ion-input>
        </ion-item>

        <ion-item [ngClass]="{'has-Error': updateProjectForm.get('finished_at')?.invalid}">
          <ion-label position="stacked" class="ion-text-center">Fecha de finalización</ion-label>
          <ion-input
            required
            formControlName="finished_at"
            type="date"
            class="ion-text-center"
            fill="outline"
          ></ion-input>
        </ion-item>
      </ion-list>
    </form>

    <div class="ion-margin-top">
      <ion-button
        class="ion-margin-top"
        type="submit"
        expand="block"
        (click)="editProject($event)"
      >
        Guardar cambios
      </ion-button>
      <ion-button
        class="ion-margin-top"
        expand="block"
        color="danger"
        [routerLink]="['/projects', projectId]"
      >
        Cancelar
      </ion-button>
    </div>

  </ion-card-content>
</ion-card>
</ion-content>
