<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Crear Comentario</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="storeComment($event)" [strong]="true">Guardar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="createCommentForm" (ngSubmit)="storeComment($event)">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Comentario</ion-label>
        <ion-textarea
          formControlName="comment"
          type="text"
          rows="4"
          placeholder="Escribe la descripción"
          required
        ></ion-textarea>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
