<ion-card class="tasks-summary-card" style="max-width: 300px; margin-right: auto; margin-left: auto;">
  <!-- Header -->
  <ion-card-header>
    <ion-item lines="none" class="ion-no-padding">
      <ion-icon slot="start" name="file-tray-stacked-outline" color="primary" class="ion-margin-end" style="font-size: 24px;"></ion-icon>
      <ion-card-title>Proyectos Activos</ion-card-title>
    </ion-item>
  </ion-card-header>

  <ion-list lines="full" style="margin-right: auto; margin-left: auto; max-width: 250px;">

    @for (project of projects; track project.id) {
      @if (project.status !== 'completado' && project.status !== 'cancelado') {
        <div class="ion-padding-bottom">
          <ion-label>
            <h2 style="font-weight: 600;">{{project.name}}</h2>

            @for (customer of customers; track customer.id) {
              <p *ngIf="project.customer_id === customer.id" class="ion-text-small" style="margin-top: 0.25rem;">
                Cliente: {{customer.name}}
              </p>
            }

            <p class="ion-text-small ion-margin-vertical-small">
              Progreso: {{getPercentage(project.completed_task_count, project.task_count)}}%
            </p>
            <div style="display: flex; align-items: center;">
              <ion-progress-bar
                type="determinate"
                color="primary"
                [value]="getPercentage(project.completed_task_count, project.task_count)"
                style="flex-grow: 1; margin-right: 8px; --buffer-background: var(--ion-color-light-shade);">
              </ion-progress-bar>
              <ion-text class="ion-text-small ion-text-nowrap" color="medium">
                {{project.completed_task_count}}/{{project.task_count}} tareas
              </ion-text>
            </div>
          </ion-label>

          <ion-badge *ngIf="project.status === 'en progreso'" color="primary" slot="end">{{ project.status }}</ion-badge>
          <ion-badge *ngIf="project.status === 'pendiente'" color="warning" slot="end">{{ project.status }}</ion-badge>

        </div>
      }
    }
  </ion-list>

  <ion-card-content class="ion-text-center ion-padding-top">
    <ion-button fill="clear" color="secondary" (click)="navigateProjects()" size="small">
      Ver todos los proyectos
    </ion-button>
  </ion-card-content>

</ion-card>
