@for (attachment of attachments; track attachment.id) {
  <ion-list class="rounded-custom">
    <ion-item>
      <ion-label>
        <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 2px;">
          <div class="file-icon-wrapper">

            <ion-icon [name]="getFileIconName(attachment.file_name)" size="large" class="file-type-icon"></ion-icon>
          </div>
          <strong>
            <ion-text color="primary">
              {{ attachment.file_name }}
            </ion-text>
          </strong>

        </div>

        @if (attachment.byte_size) {
          <p
            style="font-size: 0.9em; color: var(--ion-color-medium-shade); margin-top: 0; margin-bottom: 2px; white-space: normal;">
            {{ attachment.byte_size }}MB
          </p>
        }
      </ion-label>
    </ion-item>

  </ion-list>
}
@if (!attachments || attachments.length === 0) {
  <ion-item lines="none">
    <ion-label class="ion-text-center">No hay adjuntos subidos.</ion-label>
  </ion-item>
}

