
<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button (click)="navigateCreateCustomer()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

@if (customers && customers.length > 0) {
  <ion-list lines="inset"> <!-- O "full" o "none" -->
    @for (customer of customers; track customer.id) {
      <ion-item (click)="navigateDetailsCustomer(customer.id)"> <!-- 'button' para efecto visual al pulsar -->
        <ion-label>
          <h2>{{ customer.name }}</h2>
          <p>{{ customer.email }}</p>
          <p>
            <ion-text color="medium"><small>Teléfono: {{ customer.phone }}</small></ion-text><br>
            <ion-text color="medium"><small>Dirección: {{ customer.address }}</small></ion-text><br>
            <ion-text color="medium"><small>Fecha de registro: {{customer.created_at | date: 'dd/MM/yyyy'}}</small></ion-text>
          </p>
        </ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" color="medium"></ion-icon>
      </ion-item>
    }
  </ion-list>
} @else {
  <div class="ion-padding ion-text-center">
    <p>No hay usuarios para mostrar.</p>
  </div>
}

