<ion-menu side="start" contentId="main-content" #menu>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú Principal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      @for (menuItem of menuItems; track menuItem.url) {
        <ion-item (click)="navigateRoute(menuItem.url)">
          <ion-icon name="{{menuItem.icon}}" slot="start"></ion-icon>
          @if (menuItem.name === 'Notificaciones') {
            <ion-label>{{ menuItem.name }}</ion-label>
            <app-notification-icon [cont]="cont"/>
          } @else {
            <ion-label>{{ menuItem.name }}</ion-label>
          }
        </ion-item>
      }
      <ion-item (click)="logout()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon> <!-- Ícono más adecuado -->
        <ion-label>Cerrar sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-title>

      <span style="vertical-align: middle;">{{ titulo }}</span>

    </ion-title>

    @if (this.cont > 0) {
      <app-notification-icon slot="end" [isMenuItem]="false" [cont]="cont"/>
    } @else {
      <ion-button fill="clear" slot="end" (click)="navigateToNotifications()">
        <ion-icon name="notifications-outline" slot="icon-only" color="dark"
                  style="margin-right: 1px; vertical-align: middle;">
        </ion-icon>
      </ion-button>
    }
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content id="main-content">
  <ion-router-outlet></ion-router-outlet>
</ion-content>
