<ion-content>
  <form [formGroup]="createTimeEntryForm" (ngSubmit)="storeTimeEntry($event)">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Fecha</ion-label>
        <ion-datetime-button datetime="datePicker"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime
              id="datePicker"
              formControlName="date"
              presentation="date"
              [showDefaultButtons]="true"
              doneText="Hecho"
              cancelText="Cancelar"
            ></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Tiempo</ion-label>
        <ion-input formControlName="minutes" type="number" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Descripción</ion-label>
        <ion-textarea
          formControlName="description"
          rows="4"
          placeholder="Escribe la descripción"
        ></ion-textarea>
      </ion-item>
    </ion-list>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()" color="danger">
        Cancelar
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="storeTimeEntry($event)" color="primary">
        Guardar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
