<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <div class="ion-text-center ion-margin-bottom">
        <svg style="width: 8rem; height: 8rem;" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.03v13m0-13c-2.819-.831-4.715-1.076-8.029-1.023A.99.99 0 0 0 3 6v11c0 .563.466 1.014 1.03 1.007 3.122-.043 5.018.212 7.97 1.023m0-13c2.819-.831 4.715-1.076 8.029-1.023A.99.99 0 0 1 21 6v11c0 .563-.466 1.014-1.03 1.007-3.122-.043-5.018.212-7.97 1.023"/>
        </svg>
      </div>

      <form [formGroup]="createTaskForm" (ngSubmit)="storeTask($event)">
        <div class="ion-margin-top">

          <ion-item lines="none" class="ion-margin-bottom">
            <ion-label position="stacked" class="ion-text-center">Proyecto</ion-label>
            <ion-select interface="popover" required formControlName="project_id" class="ion-text-center">
              @for (project of projects; track project.id) {
                <ion-select-option [value]="project.id">
                  {{project.name}}
                </ion-select-option>
              }
            </ion-select>
          </ion-item>

          <ion-item lines="none" class="ion-margin-bottom">
            <ion-label position="stacked" class="ion-text-center">Título</ion-label>
            <ion-input required formControlName="title" type="text" placeholder="..." class="ion-text-center"></ion-input>
          </ion-item>

          <ion-item lines="none" class="ion-margin-bottom">
            <ion-label position="stacked" class="ion-text-center">Descripcion</ion-label>
            <ion-input required formControlName="description" type="text" placeholder="..." class="ion-text-center"></ion-input>
          </ion-item>

          <ion-item lines="none" class="ion-margin-bottom">
            <ion-label position="stacked" class="ion-text-center">Prioridad</ion-label>
            <ion-select interface="popover" required formControlName="priority" class="ion-text-center">
              <ion-select-option value="baja">baja</ion-select-option>
              <ion-select-option value="media">media</ion-select-option>
              <ion-select-option value="alta">alta</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item lines="none" class="ion-margin-bottom">
            <ion-label position="stacked" class="ion-text-center">Usuario</ion-label>
            <ion-select interface="popover" required formControlName="user_id" class="ion-text-center">
              @for (user of users; track user.id) {
                <ion-select-option [value]="user.id">
                  {{user.name}}
                </ion-select-option>
              }
            </ion-select>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="stacked" class="ion-text-center">Fecha de vencimiento</ion-label>
            <ion-datetime-button datetime="datetimePicker" class="ion-text-center"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime
                  id="datetimePicker"
                  presentation="date"
                  formControlName="due_date"
                  required>
                </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
        </div>
      </form>

      <div class="ion-margin-top ion-padding-top">
        <ion-button type="submit" (click)="storeTask($event)" expand="block" color="primary" [disabled]="createTaskForm.invalid">
          Guardar tarea
        </ion-button>
        <ion-button routerLink="/tasks" expand="block" color="danger" class="ion-margin-top">
          Cancelar
        </ion-button>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>
